<!DOCTYPE html>
<html lang="en" style="padding: 0; height: 100%; width: 100%">
<head>
    <meta charset="UTF-8">
    <title>Register to be a driver</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        .title {
            padding: 5%;
            margin-right: 10%;
            margin-left: 10%;
        }
    </style>
</head>
<body style="padding: 0; height: 100%; width: 100%">

<div class="container" id="main_page">
    <h1 class="title" style="background-color: azure">Be a driver on rideShare! Join us, {{ user.username }}.</h1>
    <div class="container" id="form_wrap">
        <form class="form" action="{% url 'driver_access:driver_reg' %}" method="post" id="reg_form">
             {% csrf_token %}
            <fieldset>
                <h2><b>Vehicle Information</b></h2>
                {% if err_msg %}<h4><b style="color: crimson">{{ err_msg }}</b></h4>{% endif %}
                <div class="form-group">
                    <label class="info_lb">Vehicle Type</label>
                    <select name="vehicle_type" class="form-control">
                        <option value="10" selected>Select the type of your vehicle</option>
                        <option value="0">Sedan</option>
                        <option value="1">Coupe</option>
                        <option value="2">Sports Car</option>
                        <option value="3">SUV</option>
                        <option value="4">Minivan</option>
                        <option value="5">Pickup Truck</option>
                        <option value="6">Hatchback</option>
                    </select>
                    {% if err_vtype %}<label style="color: red">{{ "please select a type" }}</label>{% endif %}
                </div>

                <div class="form-group">
                    <label class="info_lb">Plate number</label>
                    <input name="plate" placeholder="your plate no." maxlength="10" class="form-control" type="text" required>
                    {% if err_plate %}<label style="color: red">{{ "illegal characters. Please enter only letters and numbers." }}</label>{% endif %}
                    {% if err_plate_num %}<label style="color: red">{{ err_plate_num }}</label>{% endif %}
                </div>

                <div class="form-group">
                    <label class="info_lb">Capacity</label>
                    <input name="capacity" placeholder="maximum passengers"  maxlength="3" class="form-control" type="text" required>
                    {% if err_cap %}<label style="color: red">{{ "illegal capacity. Please only enter positive number." }}</label>{% endif %}
                </div>

                <!-- Button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-warning" name="register" id="register">
                        Register
                    </button>
                    <a class="btn btn-secondary" href="{% url 'main_page:main_pg' %}" name="cancel" id="cancel">
                        Cancel
                    </a>
                </div>

            </fieldset>
        </form>
    </div>
</div>
</body>
</html>