<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride details</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            background-image: url("{% static 'images/myride.jpg' %}");
            background-size: cover;
            background-repeat: repeat;
        }

        #home {
            font-size: large;
            font-style: normal;
            background-color: cornflowerblue;
            border-radius: 5px;
        }

        #form_wrap {
            background: rgba(255,255,255,.9);
            padding: 30px;
            border-radius: 10px;
            margin-top: 5%;
            width: 60%;
        }

        .title {
            color: white;
            padding: 5% 5% 0 5%;
            margin: 0;
            font-size: xxx-large;
            width: 50%;
            margin-right: 20%;
            margin-left: 20%;
        }

        .form {
            padding: 10px;
        }

        .btn {
            margin: 1%;
        }

        .form-group {
            margin-top: 1%;
            margin-bottom: 2%;
        }

        .info_lb {
            font-size: large;
            text-align: right;
            color: #722b47;
        }
    </style>
</head>
<body>

<div class="container" id="main_page">
     <a type="button" class="btn" id="home" href="/main/">
            Home
    </a>
    <h1 class="title">Ride details</h1>

    <div class="container" id="form_wrap">

        <form class="form" action="{% url 'request_ride:edit' ride.id %}" method="get" id="view_form">
             {% csrf_token %}
            <fieldset>
                <div class="form-group">
                    <label class="info_lb" style="color: crimson">Your role: </label>
                    {% if user == ride.driver.user %}
                    <b>{{ "Driver" }}</b>
                    {% elif user == ride.owner %}
                    <b>{{ "Owner" }}</b>
                    {% else %}
                    <b>{{ "Sharer" }}</b>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="info_lb">Destination: </label>
                    <b>{{ ride.destination }}</b>
                </div>

                <div class="form-group" style="margin-bottom: 4%;">
                    <label class="info_lb">Arrival date & time: </label>
                    <b>{{ ride.departure_time }}</b>
                </div>

                <div class="form-group">
                    <label class="info_lb">Number of passengers: </label>
                    <b>{{ ride.total_passenger_num }}</b>
                </div>
                
                <div class="form-group">
                    <div class="container" style="margin: 0; padding: 0;">
                        <label class="info_lb">Preferred vehicle Type:</label>
                        {% if ride.vehicle_type == 0 or ride.vehicle_type == "0" %}
                        <b>{{ "Sedan" }}</b>
                        {% elif ride.vehicle_type == 1 or ride.vehicle_type == "1" %}
                        <b>{{ "Coupe" }}</b>
                        {% elif ride.vehicle_type == 2 or ride.vehicle_type == "2" %}
                        <b>{{ "Sports Car" }}</b>
                        {% elif ride.vehicle_type == 3 or ride.vehicle_type == "3" %}
                        <b>{{ "SUV" }}</b>
                        {% elif ride.vehicle_type == 4 or ride.vehicle_type == "4" %}
                        <b>{{ "Minivan" }}</b>
                        {% elif ride.vehicle_type == 5 or ride.vehicle_type == "5" %}
                        <b>{{ "Pickup Truck" }}</b>
                        {% elif ride.vehicle_type == 6 or ride.vehicle_type == "6" %}
                        <b>{{ "Hatchback" }}</b>
                        {% endif %}
                    </div>

                </div>

                <div class="form-group" style="background: rgba(0,0,0,.1); border-radius: 3px; padding: 5px">
                    <div class="container" style="padding: 0; margin: 0; color: midnightblue">
                        <label class="info_lb" style="color: deepskyblue">Driver:</label>
                        {% if ride.driver %}
                        <b>{{ ride.driver.user.username }}</b>
                        {% else %}
                        <b>{{"Undecided"}}</b>
                        {% endif %}
                    </div>
                    <div class="container" style="padding: 0; margin: 0; color: midnightblue">
                        <label class="info_lb" style="color: deepskyblue">Plate number:</label>
                        {% if ride.driver %}
                        <b>{{ ride.driver.plate_num }}</b>
                        {% else %}
                        <b>{{"Undecided"}}</b>
                        {% endif %}
                    </div>
                    <div>
                        <label class="info_lb" style="color: deepskyblue">Vehicle type:</label>
                        {% if ride.driver %}
                            {% if ride.vehicle_type == 0 or ride.vehicle_type == "0" %}
                            <b>{{ "Sedan" }}</b>
                            {% elif ride.vehicle_type == 1 or ride.vehicle_type == "1" %}
                            <b>{{ "Coupe" }}</b>
                            {% elif ride.vehicle_type == 2 or ride.vehicle_type == "2" %}
                            <b>{{ "Sports Car" }}</b>
                            {% elif ride.vehicle_type == 3 or ride.vehicle_type == "3" %}
                            <b>{{ "SUV" }}</b>
                            {% elif ride.vehicle_type == 4 or ride.vehicle_type == "4" %}
                            <b>{{ "Minivan" }}</b>
                            {% elif ride.vehicle_type == 5 or ride.vehicle_type == "5" %}
                            <b>{{ "Pickup Truck" }}</b>
                            {% elif ride.vehicle_type == 6 or ride.vehicle_type == "6" %}
                            <b>{{ "Hatchback" }}</b>
                            {% endif %}
                        {% else %}
                        <b>{{"Undecided"}}</b>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="info_lb">Can be shared:</label>
                    {% if ride.can_share %}
                    <b name="address">{{ "Yes" }}</b>
                    {% else %}
                    <b name="address">{{ "No" }}</b>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="info_lb">Status:</label>
                    {% if ride.status == 0 %}
                    <b>{{ "open" }}</b>
                    {% elif ride.status == 1 %}
                    <b>{{ "confirmed" }}</b>
                    {% elif ride.status == 2 %}
                    <b>{{ "complete" }}</b>
                    {% else %}
                    <b>{{ "unknown status" }}</b>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="info_lb">Other:</label>
                    <b>{{ ride.special_request }}</b>
                </div>

<!--                only driver can see list of sharer-->
                {% if user == ride.driver.user %}
                <div class="form-group" style="margin-bottom: 60px;">
                    <label class="info_lb">Sharer info:</label>
                    <div class="scroll_share">
                        {% for req in requests %}
                        <div class="sharer_info" style="float: left; padding: 5px; background: rgba(0,0,0,.1); margin-left: 3px;">
                            <div><b>name:</b> {{ req.user.username }}</div>
                            <div><b>passenger num:</b> {{ req.passenger_num }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <!-- Button -->
                <div class="form-group" style="margin-top: 3%">
                    {% if ride.status == 0 or ride.status == 1 %}
                    <button type="submit" class="btn btn-warning" name="edit" id="edit">
                        Edit
                    </button>
                    {% endif %}
                    <a class="btn btn-secondary" onClick="javascript:history.go(-1);" name="back" id="back">
                        Back
                    </a>
                </div>

            </fieldset>
        </form>
    </div>
</div>

</body>
</html>